# See http://help.github.com/ignore-files/ for more about ignoring files.
.env

# Local settings file for claude code
settings.local.json
node_modules/
dist/
build/
.env
.env.*
*.log
coverage/
tmp/
temp/
.vscode/
.idea/
back-end/api/node_modules/
front-end/pwa/node_modules/
