<!-- show drop down when there is a click event or when the user is typing on the input. Note user may navigate using tab or enter keys -->
<app-text-input #appSingleSelector [id]="id" [label]="label" [labelSuperScript]="labelSuperScript" [readonly]="true" [placeholder]="placeholder"
    [errorMessage]="errorMessage" [displayDropDownOption]="true" [displayCancelOption]="displayCancelOption"
    [value]="selectedOptionDisplay" (displayCancelOptionClick)="onCancelOptionClick()"
    (dropDownDisplayed)="onDropDownDisplayed()">
    <div *ngIf="filteredOptions" class="card">
        <div class="card-body p-0">
            <div class="p-1">
                <app-text-input #appSingleSelectorSearchInput [id]="id +'_' + label + '_' + '_multiple_search_control'"
                    [placeholder]="'search'" [simulateTabOnEnter]="false" (valueChange)="onSearchInput($event);"
                    (inputEnterKeyPress)="onSearchEnterKeyPress()" />
            </div>

            <cdk-virtual-scroll-viewport class="app-selector-options-viewport" [itemSize]="optionItemSize"
                [style.height.px]="optionsViewportHeight">
                <button type="button" class="list-group-item list-group-item-action app-selector-option"
                    [class.list-group-item-primary]="this.selectedOption === option.option"
                    *cdkVirtualFor="let option of filteredOptions; trackBy: trackByDisplayOption"
                    (click)="onSelectedOption(option.option); appSingleSelector.showDropDown(false);">
                    {{ option.display }}
                </button>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</app-text-input>
